@use '@/styles.scss' as *;

.consultation{
    width: 100%;
    margin-top: 128px;
    display: flex;
    gap: $space-x4;
    color: $text-primary;
    line-height: 140%;

    @media (max-width: 1200px) {
        align-items: center;
        margin-top: 64px;
        flex-direction: column-reverse;
        gap: 0px;
    }

    &_left{
        background-color: $surface-bg-yellow;
        border-radius: $borderRadius-x6;
        padding: $space-x6;
        gap: $space-x4;
        width: 584px;
        height: 448px;
        display: flex;
        flex-direction: column;

        @media (max-width: 1200px) {
            z-index: 2;
            margin-top: -180px;
            width: min(500px, 100dvw);
            min-width: 320px;
            height: 413px;
            padding: $space-x4 $space-x2;
        }

        @media (max-width: 390px) {
            padding: $space-x4 $space-x1;
        }


        h2{
            font-size: 56px;
            font-weight: 400;
            line-height: 120%;

            @media (max-width: 1200px) {
                font-size: 36px;
                line-height: 130%;
                text-align: center;
            }
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 24px;

            .inputs{
                display: flex;
                flex-direction: column;
                gap: $space-x2;

                input{
                    font-size: 18px;
                    height: 60px;
                    border: none;
                    border-radius: $borderRadius-x6;
                    padding: $space-x2 $space-x3 $space-x2 $space-x3;
                }

                p{
                    text-align: center;
                    font-size: 12px;
                }
            }

            button{
                cursor: pointer;
                align-self: center;
                border: none;
                border-radius: $borderRadius-x6;
                height: 60px;
                width: 320px;
                font-size: 18px;

                @media (max-width: 390px) {
                   width: 304px;
                }
            }
        }
    }

    &_right{

        .container{
            position: relative;
            width: 584px;
            height: 448px;

            @media (max-width: 1200px) {
                width: min(500px, 100dvw);
                min-width: 320px;
                height: 400px;
            }

            &_image{
                border-radius: $borderRadius-x6;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}