@use '@/styles.scss' as *;

.sertificats{
    width: 100%;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: $space-x6;
    color: $text-primary;
    line-height: 140%;

    @media (max-width: 1200px) {
        margin-top: 64px;
        gap: $space-x4;
        padding: 0 $space-x2;        
    }

    @media (max-width: 390px) {
        padding: 0 $space-x1;        
    }

    h2{
        font-size: 56px;
        font-weight: 400;
        line-height: 120%;

        @media (max-width: 1200px) {
            font-size: 36px;
            line-height: 130%;
        }
    }

    &_list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $space-x4;

        @media (max-width: 1240px) {
            gap: $space-x2;   
        }

        @media (max-width: 1200px) {
            display: flex;
            overflow-x: auto;
            gap: $space-x2;
            padding: 0 2px;   
        }

        a{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $borderRadius-x3;
            border: 1px solid $border-secondary;
            width: 276px;
            height: 276px;

            @media (min-width: 1200px) {
                &:hover{
                    transition: 0.15s ease-in-out; 
                    scale: 0.95;
                }

                &:not(:hover){
                    transition: 0.15s ease-in-out; 
                }

                &:hover .card_image{
                    transition: 0.15s ease-in-out; 
                    scale: 1.05;
                }

                &:not(:hover) .card_image{
                    transition: 0.15s ease-in-out; 
                }
            }
        
            .card_image{

            }
        }
    }
}
