@use '@/styles.scss' as *;

.our_doctors{
    width: 100%;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: $space-x6;
    color: $text-primary;
    line-height: 140%;


    @media (max-width: 1200px) {
        margin-top: 64px;
        gap: $space-x4;
        padding: 0 $space-x2;        
    }

    @media (max-width: 390px) {
        padding: 0 $space-x1;        
    }

    &_title{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            font-size: 56px;
            font-weight: 400;
            line-height: 120%;

            @media (max-width: 1200px) {
                
                font-size: 36px;
                line-height: 130%;
            }

        }

        .buttons{
            display: flex;
            gap: $space-x2;

            @media (max-width: 1200px) {
                display: none;
            }

            button{
                height: 40px;
                width: 40px;
                cursor: pointer;
                background-color: transparent;
                border: none;
            }
        }
    }

   

    &_info{
        display: flex;
        gap: $space-x4;
        overflow-x: auto;
        
        @media (min-width: 1200px) {
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* Internet Explorer 10+ */

            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera */
            }
        }

        .card{
            display: flex;
            flex-direction: column;
            gap: $space-x2;

            .container{
                position: relative;
                width: 276px;
                height: 376px;

                // @media (max-width: 1200px) {
                //     width: 260px;
                // }

                &_image{
                    object-fit: cover;
                    border-radius: $borderRadius-x3;
                }
            }

            &_info{
                display: flex;
                flex-direction: column;
                gap: $space-x05;
                text-align: center;
                // justify-content: center;
                align-items: center;

                h6{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 140%;
                }

                p{
                    // max-width: 250px;
                    font-size: 18px;
                    line-height: 140%;
                }
            }
        }
    }
}