@use '@/styles.scss' as *;

.header{
    justify-content: space-between;
    width: 100%;
    height: 69px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 140%;
    color: $text-primary;
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: $surface-bg-neutral;
    box-shadow: 30px 0 0 0 $surface-bg-neutral;

    @media (max-width: 1200px) {
        padding: 0px $space-x2;
        box-shadow: 0 3px 4px #00000040;
        border-bottom-left-radius: $borderRadius-x3;
        border-bottom-right-radius: $borderRadius-x3;

        margin-top: 0;
        height: 80px;
    }

    @media (max-width: 390px) {
        padding: 0px $space-x1;
    }

    &_title{
        display: flex;
        width: 222px;
        align-items: center;
        gap: $space-x2;

        @media (max-width: 1200px) {
            gap: 12px;
            width: 186px;
        }

        .container{
            position: relative;
            width: 60px;
            height: 60px;

            @media (max-width: 1200px) {
                width: 52px;
                height: 52px;
            }

            
        }

        h3{
            font-weight: 600;
            font-family: var(--font-montserrat-alt);
            font-size: 24px;

            @media (max-width: 1200px) {
                font-size: 20px;
            }
        }
    }

    &_menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 568px;
        font-weight: 400;
        font-size: 18px;

        @media (max-width: 1200px) {
            display: none;
        }

        

        nav{
            width: 295px;
            display: flex;
            gap: $space-x4;

            button{
                cursor: pointer;
                background: none;
                border: none;
                letter-spacing: 0%;
                width: fit-content;
                height: 25px;
                font-size: 18px;
            }
        }

        &_phone{
            font-size: 12px;
            text-align: right;
            width: 208px;
            height: 49px;
            
            .phone{
               font-size: 18px; 
            }

            .map{
                display: flex;
                align-items: center;
                gap: 0.125rem;
            }
        }
    }

    &_tablet{
        display: none;

        @media (max-width: 1200px) {
            display: flex;
            gap: $space-x1;
        }

        .buttons_menu{
            display: flex;
            gap: $space-x1;
        }

        .button, .button_menu{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-primary;
            cursor: pointer;
            width: 44px;
            height: 44px;
            border-radius: $borderRadius-x6;
        }

        .button_menu{
            border: none;
            background-color: $surface-buttons-yellow-primary;
        }

        .button{
            background-color: $surface-buttons-neutral-primary-default;

            &:hover{
                background-color: $surface-buttons-neutral-primary-hover;
            }

            &:active{
                background-color: $surface-buttons-neutral-primary-active;
            }
        }
    }
}

