

.main_section{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px auto;   
    max-width: 1200px;
    
    @media (max-width: 1240px) {
       padding: 0px 16px;
    }
    
    @media (max-width: 1201px) {
        padding: 0px;

        // max-width: 768px;
    }

    @media (max-width: 390px) {
        min-width: 315px;
    }
}