@use '@/styles.scss' as *;

.description{
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: $space-x4;
    padding: 0 $space-x2;
    line-height: 140%;
    color: $text-primary;

    @media (max-width: 320px) {
        padding: 0 $space-x1;
    }

    h4{
        line-height: 130%;
        font-size: 36px;
        font-weight: 600;
    }

    &_info{
        display: flex;
        flex-direction: column;
        padding: $space-x3 $space-x2 $space-x4 $space-x2;
        gap: $space-x3;

        .work{
            border-radius: $borderRadius-x2;
            background-color: $surface-cards-green-default;
            width: 177px;
            padding: $space-x1 $space-x2 $space-x1 $space-x2;
            display: flex;
            flex-direction: column;
            margin-left: auto;

            &_time{
                display: flex;
                align-items: center;
                
                p{
                    font-size: 18px !important;
                    font-weight: 600;
                    padding-left: $space-x05;
                }
            }

            p{
                font-size: 12px;
            }
        }

        .appointment{
            display: flex;
            flex-direction: column;
            align-items: center;

            .container{
                position: relative;
                width: 358px;
                height: 360px;

                @media (max-width: 390px) {
                    width: 304px;
                    height: 203px;
                }

                .image{
                    object-position: top center;
                    object-fit: contain;
                }
            }

            

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: $surface-buttons-yellow-primary;
                border: none;
                font-size: 18px;
                border-radius: $borderRadius-x6;
                width: 358px;
                height: 60px;

                @media (max-width: 390px) {
                    width: 304px;
                }
            }
        }
    }
    .cards{
        width: 100%;
        gap: $space-x2;
        display: flex;
        overflow-x: auto;

        @media (min-width: 590px) {
            justify-content: center;
        }
    }
}