@use '@/styles.scss' as *;

.description{
    width: 100%;
    padding-top: 16pt;
    color: $text-primary;
    line-height: 140%;
    display: flex;
    gap: $space-x4;

    @media (max-width: 1200px) {
        display: none;

    }

    &_left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: $space-x6;
        width: 584px;
        height: 715px;

        &_title{
            display: flex;
            flex-direction: column;
            gap: $space-x6;
            height: 272px;

            h1{
                line-height: 120%;
                font-size: 68px;
                font-weight: 400;
            }

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: $surface-buttons-yellow-primary;
                border: none;
                font-size: 18px;
                border-radius: $borderRadius-x6;
                width: 320px;
                height: 60px;

                &:hover{
                    background-color: $surface-buttons-yellow-hover;
                }

                &:active{
                    background-color: $surface-buttons-yellow-active;
                }
            }
        }

        &_cards{
            display: flex;
            height: 267px;
            gap: $space-x4;
            
        }
        
    }

    &_right{
        border-radius: $borderRadius-x6;
        background-color: $surface-cards-neutral-default;
        padding: $space-x4 $space-x4 0 $space-x4;
        display: flex;
        flex-direction: column;
        width: 584px;
        height: 715px;
        gap: $space-x3;

        &_info{
            width: 520px;
            display: flex;
            justify-content: space-between;

            .social{
                width: 128px;
                display: flex;
                gap: $space-x2;

                a{
                    width: 56px;
                    height: 56px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;
                    background-color: none;
                    border: none;
                    background-color: $surface-buttons-neutral-primary-default;

                    &:hover{
                        background-color: $surface-buttons-neutral-primary-hover;
                    }

                    &:active{
                        background-color: $surface-buttons-neutral-primary-active;
                    }

                }
            }

            .work{
                border-radius: $borderRadius-x2;
                background-color: $surface-cards-green-default;
                width: 177px;
                padding: $space-x1 $space-x2 $space-x1 $space-x2;
                display: flex;
                flex-direction: column;

                &_time{
                    display: flex;
                    align-items: center;
                    
                    p{
                        font-size: 18px !important;
                        font-weight: 600;
                        padding-left: $space-x05;
                    }
                }

                p{
                    font-size: 12px;
                }
            }
        }


    }
}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 276px;
    max-height: 267px;
    min-width : 276px;
    min-height: 267px;
    background-color: $surface-icon-green-disabled;
    border-radius: $borderRadius-x3;
    cursor: pointer;

    @media (max-width: 1200px) {
        min-width : 260px;
        min-height: 201px;
        max-width: 260px;
        max-height: 201px;
    }

    @media (min-width: 1200px) {
        &:hover{
            transition: 0.15s ease-in-out; 
            scale: 0.95;
        }

        &:not(:hover){
            transition: 0.15s ease-in-out; 
        }

        &:hover .card_inner{
            transition: 0.15s ease-in-out; 
            scale: 1.05;
        }

        &:not(:hover) .card_inner{
            transition: 0.15s ease-in-out; 
        }
    }
    

    .card_inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $space-x3;
        gap: $space-x2;
        line-height: 140%;
        letter-spacing: 0%;

        &_title{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: $space-x05;

            h6{
                font-size: 24px;
                font-weight: 600;
                line-height: 140%;
            }

            p{
                font-size: 18px;
                line-height: 140%;
            }
        }

        &_icon{
            margin-left: auto;
            height: 40px;
        }
    }
}


.description_mobile{
    display: none;
    
    @media (max-width: 1200px) {
        display: flex;
    }

    @media (min-width: 768px) {
        max-width: 768px;
        margin: 0 auto;
    }
}