
$space-x05: 4px;
$space-x1: 8px;
$space-x2: 16px;
$space-x3: 24px;
$space-x4: 32px;
$space-x6: 48px;
$borderRadius-x2: 16px;
$borderRadius-x6: 48px;
$borderRadius-x3: 24px;
$surface-cards-neutral-default:#1D20250D;
$surface-buttons-yellow-primary: #FFCF3A; 
$surface-icon-green-disabled: #11C44C59;
$surface-cards-green-default: #11C44C33;
$surface-bg-neutral: #FFFFFF;
$text-primary: #1D2025E5;
$text-primary-inverse: #FFFFFFDE;
$surface-cards-blue-default: #0163F533;